body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #333;
  color: white;
  overflow:visible;
  font-family:Arial, Helvetica, sans-serif;
}

body.modal-open {
  overflow: hidden;
}

footer {
  margin-bottom: 20px;
}

h1 {
  padding-top: 10%;
  text-align: center;
}

legend {
  display: table;
  width: auto;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

fieldset {
  border-radius: 16px;
}

option {
  height: 50px;
}

/* Estilo personalizado para o input radio oculto */
input[type="radio"] {
  display: none;
}

/* Estilo para a aparência visual do input radio personalizado */
input[type="radio"] + span {
  position: relative;
  padding-left: 30px; /* Ajuste o espaço para o indicador personalizado */
  cursor: pointer;
  display: inline-block;
  line-height: 20px;
}

/* Estilo para o indicador personalizado quando não está selecionado */
input[type="radio"] + span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #3498db; /* Cor da borda do indicador */
  border-radius: 0%;
  background-color: white; /* Cor de fundo do indicador quando não está selecionado */
}

/* Estilo para o indicador personalizado quando está selecionado */
input[type="radio"]:checked + span::before {
  background-color: #007bff; /* Cor de fundo do indicador quando está selecionado */
}

/* Estilo para o texto ao lado do indicador */
input[type="radio"] + span + label {
  margin-left: 10px;
}

.error {
  border: 2px solid red;
  background-color: rgb(255, 200, 200);
  color: #000 !important;
}

.success {
  border: 2px solid #007bff;
  background-color: rgb(176, 200, 200);
  color: #000 !important;
}

.password-strength-bar {
  height: 10px;
  background-color: #007bff;
  border: 1px #fff solid;
  margin-top: 5px;
  width: 0px; /* A largura inicial é zero */
  transition: width 0.3s ease; /* Adiciona uma transição suave */
}

.combined-strength-bar {
  height: 10px;
  background-color: #007bff;
  border: 1px #fff solid;
  margin-top: 15px;
  width: 0px; /* Largura inicial é zero */
  transition: width 0.3s ease; /* Adiciona uma transição suave */
  margin-bottom: 20px;
}

.form-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-container-popup {
  margin-bottom: 20px;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
}

.form-header {
  font-size: 18px;
  margin-bottom: 10px;
}

.password-input {
  width: 200px;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  text-align: center;
}

.password-input:focus {
  outline: none; /* Remove a borda padrão do foco */
  border-color: #007bff; /* Define a cor da borda para azul quando em foco */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Adiciona uma sombra azul suave quando em foco */
}

.password-input-left {
  width: 225px;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  text-align: left;
}

.password-input-left:focus {
  outline: none; /* Remove a borda padrão do foco */
  border-color: #007bff; /* Define a cor da borda para azul quando em foco */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Adiciona uma sombra azul suave quando em foco */
}

#main-top {
  display: flex;
}

#main-window {
  min-width: 250px;
  min-height: 20%;
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: white;
  padding: 20px;
  position: relative;
  max-width: 500px; /* Largura máxima de 50% no widescreen */
  width: 90%; /* Largura de 90% no portrait */
  max-height: 100vh; /* Altura máxima de 80% */
  margin: auto; /* Centraliza na tela */
}

#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #2b2b2b;
  color: white;
  border: 2px solid #007bff;
  min-width: 60%; /* Ajustado para % da largura da janela principal */
  min-height: 90%; /* Ajustado para % da altura da janela principal */
  max-width: 60%; /* Ajustado para % da largura da janela principal */
  max-height: 90%; /* Ajustado para % da altura da janela principal */
  overflow-y: auto;
  overflow-x: auto;
}

#settings-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #2b2b2b;
  color: white;
  border: 2px solid #007bff;
  min-width: 60%; /* Ajustado para % da largura da janela principal */
  min-height: 90%; /* Ajustado para % da altura da janela principal */
  max-width: 60%; /* Ajustado para % da largura da janela principal */
  max-height: 90%; /* Ajustado para % da altura da janela principal */
  overflow-y: auto;
  overflow-x: auto;
}

#service-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #2b2b2b;
  color: white;
  border: 2px solid #007bff;
  min-width: 60%; /* Ajustado para % da largura da janela principal */
  min-height: 90%; /* Ajustado para % da altura da janela principal */
  max-width: 60%; /* Ajustado para % da largura da janela principal */
  max-height: 90%; /* Ajustado para % da altura da janela principal */
  overflow-y: auto;
  overflow-x: auto;
}

#donation-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #2b2b2b;
  color: white;
  border: 2px solid #007bff;
  min-width: 80%; /* Ajustado para % da largura da janela principal */
  min-height: 90%; /* Ajustado para % da altura da janela principal */
  max-width: 70%; /* Ajustado para % da largura da janela principal */
  max-height: 90%; /* Ajustado para % da altura da janela principal */
  overflow-y: auto;
  overflow-x: auto;
}

.margin-top-25 {
  margin-top: 25px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-bottom-25 {
  margin-bottom: 25px;
}

#password-container {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#password {
  flex-grow: 1;
  padding: 9px;
  width: 40px;
  text-align: center;
}

#password:focus {
  outline: none; /* Remove a borda padrão do foco */
  border-color: #007bff; /* Define a cor da borda para azul quando em foco */
  box-shadow: 0 0 20px rgba(0, 123, 255, 1); /* Adiciona uma sombra azul suave quando em foco */
}

#popup-content {
  margin-bottom: 20px; /* Espaço entre botões "Info" e texto */
}

#settings-popup-content {
  margin-bottom: 20px; /* Espaço entre botões "Info" e texto */
}

/* Janelas adicionais */

.settings-window {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

#info-text{
  align-items: flex-end;
}

.option {
  margin-bottom: 15px;
}

.option label {
  display: flex;
  align-items: center;
}

.option p {
  margin-left: 40px; /* Ajuste a margem conforme necessário */
}

.option span {
  height: 25px;
  margin-right: 10px;
}

.formConfig {
  user-select: none;
  pointer-events: none;
  width: 220px;
  padding-top: 10px;
  font-size: 16px;
  text-align: center;
  background-color: #333;
  color: white;
  /*border: none;  Remove a borda */
  outline: none; /* Remove a borda de foco ao clicar */
}

.text-select {
  color: #888; /* Cor do texto do placeholder */
  text-align: center;
}

.text-option {
  color: #000000; /* Cor do texto do placeholder */
  text-align: center;
}